menuconfig STAGING_PICOCALC
    bool "Picocalc staging drivers"
    default n
    help
      This option enables the drivers necessary to support the clockwork
      picocalc, e.g. keyboard and lcd drivers. These drivers were provided by
      hisptoot (https://github.com/hisptoot/picocalc_luckfox_lyra).

if STAGING_PICOCALC

source "drivers/staging/picocalc/picocalc_kbd/Kconfig"
source "drivers/staging/picocalc/picocalc_lcd_fb/Kconfig"
source "drivers/staging/picocalc/picocalc_lcd_drm/Kconfig"
source "drivers/staging/picocalc/picocalc_snd-pwm/Kconfig"
source "drivers/staging/picocalc/picocalc_snd-softpwm/Kconfig"
source "drivers/staging/picocalc/picocalc_mfd/Kconfig"
source "drivers/staging/picocalc/picocalc_mfd_bms/Kconfig"
source "drivers/staging/picocalc/picocalc_mfd_bkl/Kconfig"
source "drivers/staging/picocalc/picocalc_mfd_kbd/Kconfig"
source "drivers/staging/picocalc/picocalc_mfd_led/Kconfig"
source "drivers/staging/picocalc/picocalc_rk3506_rproc/Kconfig"
source "drivers/staging/picocalc/picocalc_snd-m0/Kconfig"

endif
