// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Rockchip Electronics Co., Ltd.
 */

/dts-v1/;

#include "rk3506.dtsi"
#include "picocalc-luckfox-lyra.dtsi"

/ {
	adc_keys: adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;
	};

	fiq_debugger: fiq-debugger {
		compatible = "rockchip,fiq-debugger";
		rockchip,serial-id = <0>;
		rockchip,wake-irq = <0>;
		rockchip,irq-mode-enable = <1>;
		rockchip,baudrate = <1500000>; /* Only 115200 and 1500000 */
		interrupts = <GIC_SPI 115 IRQ_TYPE_LEVEL_HIGH>;
	};

	leds: leds {
		compatible = "gpio-leds";
		user_led: user-led {
			gpios = <&gpio1 RK_PA0 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			label = "luckfox_lyra:user_led";
		};
	};

	vcc_sys: vcc-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc_3v3: vcc-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_sys>;
	};

	vcc_1v8: vcc-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_3v3>;
	};

	//1.8V
	vcc_ddr: vcc-ddr {
		compatible = "regulator-fixed";
		regulator-name = "vcc_ddr";
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vcc_sys>;
	};

	vdd_0v9: vdd-0v9 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_0v9";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		vin-supply = <&vcc_sys>;
	};

	vdd_cpu: vdd-cpu {
		compatible = "regulator-fixed";
		regulator-name = "vdd_cpu";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <500000>;
		regulator-max-microvolt = <1500000>;
		vin-supply = <&vdd_cpu>;
	};
};

/**********cpu**********/
&cpu0 {
	cpu-supply = <&vdd_cpu>;
	status = "okay";
};

/**********memory**********/
&cma {
	size = <0x2000000>;
};

/**********graphics**********/
&vop {
	status = "okay";
};

&rga2 {
	status = "okay";
};

/**********media**********/
&pinctrl {
	sdmmc {
		sdmmc_pwren: sdmmc-pwren {
			rockchip,pins = <1 RK_PB7 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		sdmmc_det: sdmmc-det {
			rockchip,pins = <1 RK_PB6 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};
};

&mmc {
	/* For SDMMC */
	max-frequency = <52000000>;
	bus-width = <4>;
	no-sdio;
	no-mmc;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	cd-gpios = <&gpio1 RK_PB6 GPIO_ACTIVE_LOW>; //det
	disable-wp;
	//sd-uhs-sdr104;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_clk_pins &sdmmc_cmd_pins &sdmmc_bus4_pins &sdmmc_det &sdmmc_pwren>;
	vqmmc-supply = <&vcc_3v3>;
	vmmc-supply = <&vcc_3v3>;
	status = "okay";
};

&fspi {
	status = "okay";

	flash@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <80000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
	};
};

/**********adc**********/
&pinctrl {
	tsadc {
		wdt_tsadc_gpio: wdt-tsadc-gpio {
			rockchip,pins = <0 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&saradc {
	vref-supply = <&vcc_1v8>;
	status = "okay";
};

&tsadc {
	pinctrl-names = "gpio", "otpout";
	pinctrl-0 = <&wdt_tsadc_gpio>;
	pinctrl-1 = <&rm_io21_wdt_tsadc_shut>;

	status = "okay";
};

/**********usb**********/
&usb20_otg0 {
	dr_mode = "otg";
	/* vbus-supply = <&vcc5v0_otg0>;
	rockchip,gpio-vbus-det; */
	status = "okay";
};

&usb20_otg1 {
	dr_mode = "host";
	status = "okay";
};

&usb2phy {
	/* extcon = <&extcon_usb>; */
	status = "okay";
};

&u2phy_otg0 {
	status = "okay";
};

&u2phy_otg1 {
	status = "okay";
};

/********serial********/
&uart1 {
	pinctrl-0 = <&rm_io30_uart1_tx &rm_io28_uart1_rx>;
	status = "okay";
};
