// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * PicoCalc hardware device tree definitions for Luckfox Lyra board
 */

/****** Picocalc i2c Bus ******/
&pinctrl {
    rm_io11 {
        rm_io11_i2c2_sda: rm-io11-i2c2-sda {
            rockchip,pins =
                <0 RK_PB3 35 &pcfg_pull_none>;
        };
    };

    rm_io10 {
        rm_io10_i2c2_scl: rm-io10-i2c2-scl {
            rockchip,pins =
                <0 RK_PB2 34 &pcfg_pull_none>;
        };
    };
};

&i2c2{
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io10_i2c2_scl &rm_io11_i2c2_sda>;
	max-frequency = <400000>;

	/****** Picocalc STM32 Firmware ******/
	picocalc_mfd: picocalc-mfd@1f {
		status = "okay";
		compatible = "picocalc-mfd","picocalc-kbd";
		reg = <0x1F>;
		poweroff = <0x0E>;

		/****** Keyboard Subsystem ******/
		picocalc_mfd_kbd: picocalc-mfd-kbd@04 {
			compatible = "picocalc-mfd-kbd";
			reg = <0x04>;
			fifo = <0x09>;
		};

		/****** Battery Subsystem ******/
		picocalc_mfd_bms: picocalc-mfd-bms@0b {
			compatible = "picocalc-mfd-bms";
			reg = <0x0B>;
		};

		/****** Display Backlight ******/
		picocalc_mfd_bkl: picocalc-mfd-bkl@05 {
			compatible = "picocalc-mfd-bkl";
			reg = <0x05>;
			default-brightness = <128>;
			max-brightness = <255>;
		};

		/****** Keyboard Backlight ******/
		picocalc_mfd_led: picocalc-mfd-led@0a {
			compatible = "picocalc-mfd-led";
			linux,default-trigger = "backlight";
			reg = <0x0A>;
			label = "picocalc_mfd_led:kbd_backlight";
		};
	};
};

/****** Picocalc Display ******/
&pinctrl {
	ili9488 {
		ili9488_pins: ili9488-pins {
			rockchip,pins =
				<0 RK_PA3 RK_FUNC_GPIO &pcfg_pull_none>,
				<0 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&spi0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io4_spi0_csn0 &rm_io5_spi0_miso &rm_io6_spi0_mosi &rm_io7_spi0_clk>;
	num-cs = <1>;

	ili9488: ili9488@0 {
		status = "okay";
		compatible = "picocalc,spilcd", "ilitek,ili9488";
		spi-max-frequency = <80000000>;
		reg = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&ili9488_pins>;
		fps = <30>;
		width = <320>;
		height = <320>;

		backlight = <&picocalc_mfd_bkl>;
		/***** DRM driver Parameter names ******/
		dc-gpios = <&gpio0 RK_PA3 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio0 RK_PA2 GPIO_ACTIVE_HIGH>;
		rotate = <0>;
        buswidth = <8>;
	};
};

/****** Picocalc SD Card Reader ******/
&spi1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io29_spi1_clk &rm_io28_spi1_mosi &rm_io31_spi1_miso &rm_io30_spi1_csn0>;

	spi_mmc: mmc@0 {
		compatible = "mmc-spi-slot";
		reg = <0>;  // Chip Select 0
		spi-max-frequency = <50000000>;
		cd-gpios = <&gpio1 RK_PB2 GPIO_ACTIVE_LOW>;
		disable-wp;
		no-sdio;
		voltage-ranges = <3300 3300>;
		vmmc-supply = <&vcc_3v3>;
		vqmmc-supply = <&vcc_3v3>;
		no-1-8-v;
	};
};

/****** PWM Sound via Hardware Mod ******/
&pinctrl {
	picocalc_snd {
		snd_pins: snd-pins {
			rockchip,pins =
				<4 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>,
				<4 RK_PB3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

/ {
	/* Default sound: M0 delta-sigma audio (same pins as softpwm/hwpwm) */
	picocalc_snd_m0: picocalc-snd-m0 {
		compatible = "picocalc,snd-m0";
		status = "okay";
		memory-region = <&m0_shmem>;
		remote-proc = <&mcu_rproc>;
		ring-buffer-bytes = <8192>;
		pinctrl-names = "default";
		pinctrl-0 = <&snd_pins>;
	};

	/* Optional: hardware PWM sound (requires HW mod); disable when using M0 */
	picocalc_snd {
		status = "disabled";
		compatible = "fsl,picocalc-snd-pwm";
		pinctrl-names = "default";
		pinctrl-0 = <&snd_pins>;
		leftpin = <&gpio4 RK_PB2 GPIO_ACTIVE_HIGH>;
		rightpin = <&gpio4 RK_PB3 GPIO_ACTIVE_HIGH>;
		pwm-names = "pwm-snd-left", "pwm-snd-right";
		pwms = <&pwm0_4ch_0 0 25000 0>, <&pwm0_4ch_1 0 25000 0>;
	};

	/* RK3506 Cortex-M0 remoteproc for M0 audio firmware */
	mcu_rproc: mcu@fff84000 {
		compatible = "rockchip,rk3506-mcu";
		reg = <0xfff84000 0x8000>;
		firmware-name = "rk3506-m0-audio.elf";
		clocks = <&cru HCLK_M0>, <&cru STCLK_M0>,
			 <&cru PCLK_TIMER>, <&cru CLK_TIMER0_CH5>;
		resets = <&cru SRST_H_M0>, <&cru SRST_M0_JTAG>,
			 <&cru SRST_HRESETN_M0_AC>;
		reset-names = "h_m0", "m0_jtag", "hresetn_m0_ac";
	};
};

&pwm0_4ch_0 {
	pinctrl-names = "active";
	pinctrl-0 = <&rm_io12_pwm0_ch0>;
	status = "okay";
	assigned-clocks = <&cru CLK_PWM0>;
	assigned-clock-rates = <100000000>;
};

&pwm0_4ch_1 {
	pinctrl-names = "active";
	pinctrl-0 = <&rm_io13_pwm0_ch1>;
	status = "okay";
	assigned-clocks = <&cru CLK_PWM0>;
	assigned-clock-rates = <100000000>;
};

/****** M0 shared memory for audio (reserved_memory from SoC dtsi) ******/
&reserved_memory {
	m0_shmem: m0-shmem@3c00000 {
		reg = <0x03c00000 0x100000>;
		no-map;
	};
};
